.header {
  background-color: #fff;
  font-size: 16px;

  .navbar {
    display: flex;
    align-items: center;
    gap: 303px; 
    padding: 20px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .button {
    position: fixed;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid;
  }

  .logo img {
    width: 160px;
    height: 123px;
  }
  .logo {
    margin-left: 98px;
  }
}